</br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4 data-aos="fade-up" style="font-size: 50px;">About us</h4>
        </br>
            <p align="justify"> CreTech IT Solution is a premier Web Designing, Software Development, Mobile App
                Development, Graphic Designing, Digital Marketing, And Legal Registration Company. We have been dealing
                with quality Services since 2019, Over the period, over 450+clients from various IT and non-IT sectors
                have benefitted by our services. Hence, Creating Happy Customers by Web Development, App Development,
                Graphic Designing ,Digital Marketing Services and Legal Registration is Our aim.
            </p>
        </div>
        <div class="col-sm">
            <img src="./assets/img/about us home.png" class="figure-img img-fluid" style="height: 64%;width: 100%;">
        </div>
    </div>
</div>