<span id="header-bar">
    <!-- <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <ul>
                    <li><i class="bi bi-envelope-at"></i>
                        <a href="mailto:cretechitsolution@gmail.com">
                            cretechitsolution@gmail.com
                        </a>
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        <a href="tel:+918262946038">+91 826 294 6038</a>
                    </li>
                </ul>
            </div>
        </div>
    </section> -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./assets/img/logo.png" alt="CreTech Logo" width="50" height="40"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Startup Registration
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="services.html?service=private_ltd_com">Private Limited Company</a></li>
                                <li><a class="dropdown-item" href="Proprietorship.html">Proprietorship Registration</a></li>
                                <li><a class="dropdown-item" href="Partnership.html">Partnership Registration</a></li>
                                <li><a class="dropdown-item" href="Producer.html">Producer Registration</a></li>
                                <li><a class="dropdown-item" href="IEC.html">Digital Signature</a></li>
                                <li><a class="dropdown-item" href="IEC.html">IEC Registration</a></li>
                                <li><a class="dropdown-item" href="ADCODE.html">ADCODE Registration</a></li>
                                <li><a class="dropdown-item" href="RCMC.html">RCMC Registration</a></li>
                                <li><a class="dropdown-item" href="GST.html">GST Registration</a></li>
                                <li><a class="dropdown-item" href="ITR.html">ITR Registration</a></li>
                                <li><a class="dropdown-item" href="FSSAI.html">FSSAI Registration</a></li>
                                <li><a class="dropdown-item" href="EPF.html">PF Registration</a></li>
                                <li><a class="dropdown-item" href="ShopACT.html">Shop Act Registration</a></li>
                                <li><a class="dropdown-item" href="MSME.html">MSME/UDYAM AADHAR Registration</a></li>
                                <li><a class="dropdown-item" href="APEDA.html">APEDA Registration</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Filing
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="GST.html">GST Return Filing</a></li>
                                <li><a class="dropdown-item" href="ITR.html">ITR Filing</a></li>
                                <li><a class="dropdown-item" href="ITR.html">Audit Filing</a></li>
                                <li><a class="dropdown-item" href="EPF.html">PF Return Filing</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
                </div>
            </div>
        </nav>
        <!-- <div class="container d-flex">
            <div class="logo mr-auto">
                <a href="./index.html"><img src="assets/img/looog.jpg" alt="" class="img-fluid"
                        style="height: 80px; width: 110px;"></a>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class=""><a href="about.html">About</a></li>
                    <li class=""><a href="career.html">Career</a></li> 
                    <li class="drop-down"><a href="">Services</a>
                        <ul>

                            <li><a href="website.html">Web Design & Development </a></li>
                            <li><a href="mobile-app.html">Mobile App</a></li>
                            <li><a href="digital-marketing.html">Digital Marketing</a></li>
                            <li><a href="graphics.html">Graphics Design</a></li>

                            <li class="drop-down"><a href="#">Corporate Registration</a>

                                <ul class="Corporate">

                                    <li><a href="Proprietorship.html">Proprietorship</a></li>
                                    <li><a href="Partnership.html">Partnership</a></li>
                                    <li><a href="Producer.html">Producer</a></li>
                                    <li><a href="IEC.html">IEC</a></li>
                                    <li><a href="GST.html">GST</a></li>
                                    <li><a href="ITR.html">ITR</a></li>
                                    <li><a href="FSSAI.html">FSSAI</a></li>
                                    <li><a href="EPF.html">EPF</a></li>
                                    <li><a href="ShopACT.html">Shop Act</a></li>
                                    <li><a href="MSME.html">MSME</a></li>
                                    <li><a href="APED.html">APED</a></li>
                                </ul>
                            </li>

                            <li class="drop-down"><a href="GST.html">GST</a>

                                <ul class="Corporate">
                                    <li><a href="GST-registration.html">GST Registration</a></li>
                                    <li><a href="GST-Modification.html">GST Modification</a></li>
                                    <li><a href="GST-Return.html">GST Return Filing</a></li>
                                    <li><a href="GST-Cancellation.html">GST Cancellation</a></li>
                                </ul>
                            </li>
                            <li class="drop-down"><a href="#">Company Registration</a>

                                <ul class="Company-rg">
                                    <li><a href="OPC.html">One Person Company</a></li>
                                    <li><a href="llp.html">Limited Liability Partnership</a></li>
                                    <li><a href="PLC.html">Private Limited Company Registration</a></li>
                                    <li><a href="Producer.html">Farmer Producer Company Registration</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="Portfolio.html">Portfolio</a></li>
                    <li><a href="contact-us.html">Contact</a></li>

                </ul>
            </nav>

        </div> -->
    </header>
</span>
