<section id="clients" class="clients">
    <div class="row">
        <h2 align="center">Our Clients</h2>
    </div>
    </br>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm"><img src="assets/img/clients/green-planto-seeds-pvt-ltd.png" alt=""></div>
            <div class="col-sm"><img src="assets/img/clients/vhac&w.gif" alt=""></div>
            <div class="col-sm"><img src="assets/img/clients/tej.png" alt=""></div>
            <div class="col-sm "><img src="assets/img/clients/dwarika.jpeg" alt=""></div>
            <div class="col-sm "><img src="assets/img/clients/vyas-overseas.jpeg" alt=""></div>
        </div>
    </div>
</section>